<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AreaWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/EmpresaWebService/AreaWS"
                binding="basicHttpBinding" bindingConfiguration="AreaWSPortBinding"
                contract="AreaWS.AreaWS" name="AreaWSPort" />
        </client>
    </system.serviceModel>
</configuration>